node_modules/
dist/
coverage/
storybook-static/
playwright-report/
test-results/

.env
!.env.example

*.tsbuildinfo
vite.config.js
vite.config.d.ts
vitest.config.js
vitest.config.d.ts

.DS_Store
*.log
