mbg.jdbc.url=jdbc:mysql://localhost:3306/real_estate_db?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=UTC&nullCatalogMeansCurrent=true
mbg.jdbc.username=root
mbg.jdbc.password=password
